<div class="row">
  <div class="col-md-8">
    <h1 class="page-header">
      My Blog
    </h1>

    <% @posts.each do |post| %>

        <%= render post, trunk: true %>
        <%= link_to 'Read more...', post, method: :post, class: "btn btn-default", role: "button" %>

    <% end %>

    <hr>

    <!-- Pager -->
    <ul class="pager">
      <li class="previous">
        <a href="#">&larr; Older</a>
      </li>
      <li class="next">
        <a href="#">Newer &rarr;</a>
      </li>
    </ul>

  </div>
<%= render 'shared/sidebar' %>
</div>
