<div class="row">
  <div class="col-md-8">
    <h1 class="page-header"> My Blog </h1>

    <% @posts.each do |post| %>
        <%= render post, trunk: true %>
        <%= link_to 'Read more...', post, method: :get, class: "btn btn-default", role: "button" %>

    <% end %>

    <hr>

    <%= paginate @posts %>

  </div>
<%= render 'shared/sidebar' %>
</div>
