<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="well well-sm">
          <fieldset>
            <legend class="text-center">Create Post</legend>

            <%= render 'form' %>
          </fieldset>
      </div>
    </div>
  </div>
</div>
